@import 'tailwindcss';

@font-face {
  font-family: 'Lexend Deca';
  src: url('/assets/fonts/LexendDeca-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('/assets/fonts/LexendDeca-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend Deca';
  src: url('/assets/fonts/LexendDeca-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-*: initial;

  --max-w-8xl: 1480px;

  /* CONSTANT COLORS */
  /* Stay the same across theme variant and dark/light mode */
  --color-white: #fff;
  --color-black: #575757;
  --color-accent: #fe5367;
  --color-accent-dark: #db5259;

  /* LIGHT MODE */
  --color-cherry: #831c2e;
  --color-cherry-10: #fff7f8;
  --color-cherry-20: #f7ced1;
  --color-cherry-40: #de7581;
  --color-cherry-70: #a9404e;

  --color-foreground: var(--color-black);
  --color-background: #f9eeef;

  --color-green: #a6d36f;
  --color-green-dark: #709049;

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1440px;
  --breakpoint-3xl: 1520px;

  /* Container Max Widths */
  --container-2xs: 480px;
  --container-xs: 600px;
  --container-sm: 720px;
  --container-md: 900px;
  --container-lg: 1150px;
  --container-xl: 1440px;
  --container-2xl: 1520px;
}

:root {
  /* Fonts */
  --font-family-base: 'Lexend Deca', sans-serif;

  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-semi-bold: 700;
}

/* Dark theme */
[data-theme='dark'] {
  /* CONSTANT COLORS */
  /* Stay the same across theme variant and dark/light mode */
  /* --color-accent: #db5259;
  --color-accent-dark: #fe5367; */

  /* LIGHT MODE */
  --color-cherry: #f3c2cf;
  --color-cherry-10: #dec5c9;
  --color-cherry-20: #c79ba2;
  --color-cherry-40: #af526a;
  --color-cherry-70: #a55d6a;

  --color-green: #a6d36f;
  --color-green-dark: #709049;

  --color-foreground: #dec3c7;
  --color-background: #280408;

  .animate-pill-shimmer {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1),
      var(--color-cherry-40),
      var(--color-accent),
      rgba(255, 255, 255, 0.1)
    );
    background-size: 200% 100%;
    animation: pill-shimmer 2s ease-in-out infinite;
    animation-direction: alternate;
  }

  .animate-pill-shimmer-reverse {
    background: linear-gradient(
      45deg,
      var(--color-cherry-40),
      rgba(255, 255, 255, 0.1),
      var(--color-accent),
      rgba(255, 255, 255, 0.1),
      var(--color-accent),
      rgba(255, 255, 255, 0.1)
    );
    background-size: 200% 100%;
    animation: pill-shimmer 3s ease-in-out infinite;
    animation-direction: alternate-reverse;
  }

  .animate-experience-shimmer {
    background: linear-gradient(
      90deg,
      var(--color-accent),
      rgba(255, 255, 255, 0.1),
      var(--color-accent),
      rgba(255, 255, 255, 0.1),
      var(--color-accent)
    );
    background-size: 200% 200%;
    animation: experience-shimmer 5s ease-in-out infinite;
  }
}

@layer base {
  html {
    min-height: 100%;
    overflow-x: clip;
    -webkit-text-size-adjust: 100%;
  }

  * {
    box-sizing: border-box;
    transition:
      background-color 0.3s ease-in-out,
      color 0.3s ease-in-out,
      border-color 0.3s ease-in-out,
      fill 0.3s ease-in-out,
      stroke 0.3s ease-in-out;
  }

  body {
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-family-base);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    min-height: 100%;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: var(--color-accent);
    text-decoration: underline dotted;
    transition: 0.2s color ease-in-out;
  }

  p + p {
    margin-top: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.15;
    font-weight: 500;
  }

  /* h1 {
    font-size: clamp(3.5rem, 3rem + 2vw, 4rem);
  } */

  h2 {
    font-size: clamp(2.25rem, 2.5rem + 1.25vw, 3.5rem);
    font-weight: 700;
    line-height: 1.05;
  }

  h3 {
    font-size: clamp(2rem, 1.75rem + 1.25vw, 2.5rem);
  }

  h4 {
    font-size: clamp(1.5rem, 1.25rem + 1vw, 2rem);
  }

  h5,
  h6 {
    font-size: 1.25rem;
  }

  h6 {
    text-transform: uppercase;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  .drop-shadow {
    box-shadow: 0 0 20px rgba(131, 28, 48, 0.08);
  }

  .bg-texture {
    background-image: url('/assets/images/png/texture.png');
  }

  [data-theme='dark'] .bg-texture {
    background-image: url('/assets/images/png/texture-dark.png');
  }

  .bg-linear-tr {
    background: linear-gradient(
      to top right,
      var(--color-cherry-40),
      var(--color-cherry-20),
      var(--color-accent)
    );
  }

  .bg-linear-25deg {
    background: linear-gradient(
      25deg,
      var(--color-cherry-40),
      var(--color-accent),
      var(--color-cherry-40),
      var(--color-accent)
    );
  }

  /* Text size utilities */
  .eyebrow {
    @apply text-sm text-cherry-70;
    /* font-size: 0.85rem; */
    line-height: 1;
    text-transform: uppercase;
    font-weight: 500;
  }
}

@keyframes pill-shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-pill-shimmer {
  background: linear-gradient(
    90deg,
    var(--color-accent),
    var(--color-white),
    var(--color-accent)
  );
  background-size: 200% 100%;
  animation: pill-shimmer 2s ease-in-out infinite;
  animation-direction: alternate;
}

.animate-pill-shimmer-reverse {
  background: linear-gradient(
    45deg,
    var(--color-white),
    var(--color-accent),
    var(--color-white),
    var(--color-accent),
    var(--color-white)
  );
  background-size: 250% 200%;
  animation: pill-shimmer 3s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

.animate-status-shimmer {
  background: linear-gradient(
    45deg,
    var(--color-green),
    var(--color-green),
    var(--color-green),
    var(--color-white),
    var(--color-green),
    var(--color-green),
    var(--color-green)
  );
  background-size: 400% 400%;
  animation: pill-shimmer 1s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes experience-shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
  /* 100% {
    background-position: 0% 0%;
  } */
}

.animate-experience-shimmer {
  background: linear-gradient(
    to top left,
    var(--color-accent),
    var(--color-accent),
    var(--color-white),
    var(--color-accent),
    var(--color-accent)
  );
  background-size: 200% 200%;
  animation: experience-shimmer 5s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translateY(0);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translateY(-1rem);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.hero-text {
  @apply text-cherry text-4xl md:text-6xl leading-[1.15] font-bold relative;

  strong {
    @apply text-accent;
  }
}
